<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Departments</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Informācija par Struktūrvienību </h1>
    
    
    <table> 
    <tr th:each="temp: ${object}"> 
    
      <td th:text="${temp.getId()}" />
	  <td th:text="${temp.getTitle()}" />
	  
	  <td th:text="${temp.getVname()}" />
	  
	  <td th:text="${temp.getVsurname()}" />
	  

    
    </table>
    
   
  
  </body>
</html>


