<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Informācija par kursu</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Informacija par kursu</h1>
            <p><strong>ID</strong></p>
            <p th:text="${object.getIdCou()}"/>
            <p><strong>Nosaukums</strong></p>
            <p th:text="${object.getTitle()}"/>
            <p><strong>Apraksts</strong></p>
            <p th:text="${object.getDescription()}"/>
            <p><strong>Type ID</strong></p>
            <p th:text="${object.getCoType().getIdTy}"/>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/internationalization.js}"></script>
</body>

</html>