<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbinieku labošana</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-3">
        <div class="container">		        
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/page/1">Darbinieki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/department/showAll">Strukturvienības</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/course/showAll">Kursi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/results/showAll">Vērtējumi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Iziet no konta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>Lūdzu ievadiet kursa parametrus</h1>
                        <form action="#" th:action="@{/course/update/__${id}__}" th:object="${course}" method="post">
                            <div class="form-group">
                                <label for="title">Nosaukums</label>
                                <input type="text" id="title" th:field="*{title}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                            </div>

                            <div class="form-group">
                                <label for="description">Apraksts</label>
                                <input type="text" id="description" th:field="*{description}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>

                            <div class="form-group">
                                <label for="coursetype">Kursa tips</label>
                                <select class="form-control" id="coursetype" th:field="*{coType}">
                                    <option th:each="test: ${coursetype}"
                                        th:value="${test.idTy}" th:text="${test.description}">
                                    </option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-2">Saglabāt</button>
                        </form>
                </div>
            </div>
        </div>
</body>

</html>