<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{lang.employee}"></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/demo/src/main/resources/templates/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-3">
    <li class="nav-item">
        <span th:style="${'color: white;'}" th:text="#{lang.change}"></span>:
        <select title="Lang" id="locales">
            <option value=""></option>
            <option value="lv" th:text="#{lang.lv}"></option>
            <option value="US" th:text="#{lang.US}"></option>
        </select>
    </li>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/employee/page/1" th:text="#{lang.employee}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/department/showAll" th:text="#{lang.department}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course/showAll" th:text="#{lang.course}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results/showAll" th:text="#{lang.grade}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:text="#{lang.logout}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <a th:href="@{/employee/add}" class="btn-sm btn-success text-white" role="button" th:text="#{lang.addEmployee}"></a>
    <div th:if="${ not#lists.isEmpty(listEmployees)}" class="pt-3">

        <table class="table table-bordered table-striped">
            <tr>
                <th><a th:href="@{'/employee/page/' + ${currentPage} + '?sortField=IdEm&sortDir=' + ${reverseSortDir}}">ID</a>
                </th>
                <th><a th:href="@{'/employee/page/' + ${currentPage} + '?sortField=Name&sortDir=' + ${reverseSortDir}}"
                       th:text="#{lang.name}"></a></th>
                <th><a th:href="@{'/employee/page/' + ${currentPage} + '?sortField=Surname&sortDir=' + ${reverseSortDir}}"
                       th:text="#{lang.surname}"></a></th>
                <th><a th:href="@{'/employee/page/' + ${currentPage} + '?sortField=Phone&sortDir=' + ${reverseSortDir}}"
                       th:text="#{lang.phone}"></a></th>
                <th><a th:href="@{'/employee/page/' + ${currentPage} + '?sortField=Email&sortDir=' + ${reverseSortDir}}"
                       th:text="#{lang.email}"></a></th>
            </tr>
            <tr th:each="temp : ${listEmployees}">

                <td th:text="${temp.getIdEm()}"/>
                <td th:text="${temp.getName()}"/>
                <td th:text="${temp.getSurname()}"/>
                <td th:text="${temp.getPhone()}"/>
                <td th:text="${temp.getEmail()}"/>
                <td class="col-md-4">
                    <a th:href="@{/employee/showAll/{id}(id=${temp.getIdEm()})}" class="btn-sm btn-info text-white"
                       role="button" th:text="#{lang.show}"></a>
                    <a th:href="@{/employee/update/{id}(id=${temp.getIdEm()})}" class="btn-sm btn-primary text-white"
                       role="button" th:text="#{lang.edit}"></a>
                    <a th:href="@{/employee/delete/{id}(id=${temp.getIdEm()})}" class="btn-sm btn-danger text-white"
                       role="button" th:text="#{lang.delete}"></a>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--<nav aria-label="Page navigation ">
  <ul class="pagination justify-content-center">
  
    <li th:if= "${currentPage == 1}" class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" th:text="#{lang.previous}"></a>
    </li>
    <li th:if= "${currentPage > 1}" class="page-item">
      <a class="page-link" th:href="${currentPage - 1} " th:text="#{lang.previous}"></a>
    </li>
    
    
    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">[[${currentPage}]]</a></li>


    <li th:if= "${currentPage == totalPages}" class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" th:text="#{lang.next}"></a>
    </li>
    <li th:if= "${currentPage != totalPages}" class="page-item">
      <a class="page-link" th:href="${currentPage + 1}" th:text="#{lang.next}"></a>
      
    </li>-->
<nav aria-label="Page navigation ">
	<ul class="pagination justify-content-center" th:if="${totalPages > 1}">
	    <div class="row col-sm-10">
	        <div class="col-sm-2">
	            Total Rows: [[${totalItems}]]
	        </div>
	        <div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${currentPage != i}"
	                               th:href="@{'/employee/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
				</span>
	        </div>
	        <div class="col-sm-1">
	            <a th:if="${currentPage < totalPages}"
	               th:href="@{'/employee/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" th:text="#{lang.next}"></a>
	            <span th:unless="${currentPage < totalPages}" th:text="#{lang.next}"></span>
	        </div>
	
	        <div class="col-sm-1">
	            <a th:if="${currentPage < totalPages}"
	               th:href="@{'/employee/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" th:text="#{lang.previous}"></a>
	            <span th:unless="${currentPage < totalPages}" th:text="#{lang.previous}"></span>
	        </div>
	    </div>
	</ul>
</nav>


<div class="container">
    <a th:href="@{/employee/showAll/Excel}" class="btn-sm btn-info text-white" role="button"
       th:text="#{lang.generateEmployeeExcel}"></a>
<div class="container">
    <a th:href="@{/employee/showAll/Excel}" class="btn-sm btn-info text-white" role="button"
       th:text="#{lang.generateEmployeeExcel}"></a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/internationalization.js}"></script>
</body>
</html>