<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Darbinieki</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-3">
                <div class="container">		        
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/employee/page/1">Darbinieki</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/department/showAll">Strukturvienības</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/course/showAll">Kursi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/results/showAll">Vērtējumi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Iziet no konta</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
            <a th:href="@{/employee/add}" class="btn-sm btn-success text-white" role="button">PIEVIENOT DARBINIEKU</a>
            <div th:if="${ not#lists.isEmpty(object)}" class="pt-3">
            <table class="table table-bordered table-striped">
                <tr>
                <th>ID</th>
                <th>Vārds</th>
                <th>Uzvārds</th> 
                <th>Telefona numurs</th>
                <th>E-pasts</th>
                </tr>
                <tr th:each="temp : ${object}">
                
                <td th:text="${temp.getIdEm()}"/>
                <td th:text="${temp.getName()}"/>
                <td th:text="${temp.getSurname()}"/>
                <td th:text="${temp.getPhone()}"/>
                <td th:text="${temp.getEmail()}"/>
                <td class="col-md-4">
                        <a th:href="@{/employee/showAll/{id}(id=${temp.getIdEm()})}" class="btn-sm btn-info text-white" role="button">PARĀDĪT</a>
                        <a th:href="@{/employee/update/{id}(id=${temp.getIdEm()})}" class="btn-sm btn-primary text-white" role="button">LABOT</a>
                        <a th:href="@{/employee/delete/{id}(id=${temp.getIdEm()})}" class="btn-sm btn-danger text-white" role="button">DZĒST</a>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div>
			<nav aria-label="Page navigation ">
			  <ul class="pagination justify-content-center">
			  
			    <li th:if= "${currentPage == 1}" class="page-item disabled">
			      <a class="page-link" href="#" tabindex="-1">Previous</a>
			    </li>
			    <li th:if= "${currentPage > 1}" class="page-item">
			      <a class="page-link" th:href="${currentPage - 1} ">Previous</a>
			    </li>
			    
			    
			    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">[[${currentPage}]]</a></li>


			    <li th:if= "${currentPage == totalPages}" class="page-item disabled">
			      <a class="page-link" href="#" tabindex="-1">Next</a>
			    </li>
			    <li th:if= "${currentPage != totalPages}" class="page-item">
			      <a class="page-link" th:href="${currentPage + 1}">Next</a>
			    </li>
			  </ul>
			</nav>
		</div>
		<div>
			<a> Total Items: [[${totalElements}]] - page [[${currentPage}]] of [[${totalPages}]] </a>
		</div>

        <div class="container">
            <a th:href="@{/employee/showAll/Excel}" class="btn-sm btn-info text-white" role="button">Ģenerēt Darbinieku excel Failu</a>

        </div>
        
    </body>
</html>