<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Informācija par darbinieku</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-3">
        <div class="container">		        
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/employee/page/1">Darbinieki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/department/showAll">Strukturvienības</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/course/showAll">Kursi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Iziet no konta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Informacija par darbinieku</h1>
                <p><strong>ID</strong></p>
                <p th:text="${object.getIdEm()}" />
                <p><strong>Vārds</strong></p>
                <p th:text="${object.getName()}" />
                <p><strong>Uzvārds</strong></p>
                <p th:text="${object.getSurname()}" />
                <p><strong>Telefona numurs</strong></p>
                <p th:text="${object.getPhone()}" />
                <p><strong>E-pasts</strong></p>
                <p th:text="${object.getEmail()}" />
                <p th:if="${ not#lists.isEmpty(object.getPosition())}"><strong>Amats</strong></p>
                <p th:if="${ not#lists.isEmpty(object.getPosition())}" th:text="${object.getPosition().getTitle()}" />
            </div>
        </div>
    </div>
</body>

</html>