<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Informācija par darbinieku</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Informacija par darbinieku</h1>
            <p><strong>ID</strong></p>
            <p th:text="${object.getIdEm()}"/>
            <p><strong>Vārds</strong></p>
            <p th:text="${object.getName()}"/>
            <p><strong>Uzvārds</strong></p>
            <p th:text="${object.getSurname()}"/>
            <p><strong>Telefona numurs</strong></p>
            <p th:text="${object.getPhone()}"/>
            <p><strong>E-pasts</strong></p>
            <p th:text="${object.getEmail()}"/>
            <p><strong>Amats(i)</strong></p>
            <p th:field="*{position}" th:each="test : ${position}" th:text="${test.getDescription()}"/>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/internationalization.js}"></script>
</body>

</html>