<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Informācija par strukturvienibu</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Nosaukums</th>
            <th>Vadītāja vārds</th>
            <th>Vadītāja uzvārds</th>
        </tr>
        <tr>
            <td th:text="${object.getIdDe()}"/>
            <td th:text="${object.getTitle()}"/>
            <td th:text="${object.getV_name()}"/>
            <td th:text="${object.getV_surname()}"/>
        </tr>
    </table>

    <h2> Darbinieki strukturvienībā</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Telefona numurs</th>
            <th>E-pasts</th>
        </tr>
        <tr th:each="temp : ${employees}">

            <td th:text="${temp.getIdEm()}"/>
            <td th:text="${temp.getName()}"/>
            <td th:text="${temp.getSurname()}"/>
            <td th:text="${temp.getPhone()}"/>
            <td th:text="${temp.getEmail()}"/>
        </tr>
    </table>

</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/internationalization.js}"></script>
</body>

</html>