<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbinieku labošana</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-3">
        <div class="container">		        
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/employee/showAll">Darbinieki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/department/showAll">Strukturvienības</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/course/showAll">Kursi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Iziet no konta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>Lūdzu ievadiet darbinieka parametrus</h1>
                        <form action="#" th:action="@{/employee/update/__${id}__}" th:object="${employee}" method="post">
                            <div class="form-group">
                                <label for="name">Vārds</label>
                                <input type="text" id="name" th:field="*{name}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>

                            <div class="form-group">
                                <label for="surname">Uzvārds</label>
                                <input type="text" id="surname" th:field="*{surname}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                            </div>

                            <div class="form-group">
                                <label for="phone">Telefona numurs</label>
                                <input type="text" id="phone" th:field="*{phone}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                            </div>

                            <div class="form-group">
                                <label for="email">E-pasts</label>
                                <input type="text" id="email" th:field="*{email}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            </div>

                            <!-- <div class="form-group">
                                <label for="password">Parole</label>
                                <input type="password" id="password" th:field="*{password}" class="form-control">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            </div> -->

                            <div class="form-group">
                                <label for="position.title">Amats</label>
                                <select class="form-control" id="position.title" th:field="*{position}">
                                    <option th:each="test: ${position}"
                                        th:value="${test.IdPos}" th:text="${test.title}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="department.title">Struktūrvienības</label>
                                <select class="form-control" id="department.title" th:field="*{department}">
                                    <option th:each="test: ${department}"
                                        th:value="${test.idDe}" th:text="${test.title}">
                                    </option>
                                </select>
                            </div>


                            <button type="submit" class="btn btn-primary btn-block mt-2">Saglabāt</button>
                        </form>
                </div>
            </div>
        </div>
</body>

</html>