<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbinieku labošana</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Lūdzu ievadiet darbinieka parametrus</h1>
            <form action="#" th:action="@{/department/updateDepartment/__${id}__}" th:object="${department}" method="post">
                <div class="form-group">
                    <label for="title">Nosaukums</label>
                    <input type="text" id="title" th:field="*{title}" class="form-control">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
                <div class="form-group">
                    <label for="V_name">Vadītāja vārds</label>
                    <input type="text" id="V_name" th:field="*{v_name}" class="form-control">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('V_name')}" th:errors="*{v_name}"></div>
                </div>

                <div class="form-group">
                    <label for="V_surname">Vadītāja uzvārds</label>
                    <input type="text" id="V_surname" th:field="*{v_surname}" class="form-control">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('V_surname')}"
                         th:errors="*{v_surname}"></div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-2">Saglabāt</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/internationalization.js}"></script>
</body>

</html>